@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem Vindo</h1>
    <p>Aprenda sobre <a href="https://docs.microsoft.com/aspnet/core">construção de aplicativos da Web com ASP.NET Core</a>.</p>
</div>

<div>
    <ul>
        <li>1 - Criar uma conta no github.</li>
        <li>2 - Criar um repositório da atividade.</li>
        <li>3 - Clonar o repositório em seu computador.</li>
        <li>4 - Criar neste local um novo projeto MVC em ASP.net 6.0</li>
        <li>5 - Alterar a página inicial do projeto.</li>
        <li>6 -  Criar um novo Controller e View ao projeto.</li>
        <li>7 - "Subir" o projeto atualizado no github.</li>
        <li>8 - Informar o repositório atualizado no formulário da AV1, até o dia 24/11.</li>
    </ul>
</div>
